.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 156, 211);
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 400px;
  align-items: center;
  background-color: salmon;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-right: -15px;
  position: relative;
  z-index: 1;
}

.login-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  padding: 0 25px;
  overflow: hidden;
  position: relative;
  color: white;
  text-align: center;
  font-size: 14px;
}

.login-box input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
  text-align: center;
  outline: none;
  margin: 3px;;
}

.login-box label {
  text-align: left;
  margin-bottom: 20px;
  color: antiquewhite;
}

.login-box button:disabled {
  width: 180px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(185, 185, 185);
  color: white;
  cursor: pointer;
}

.login-box button {
  width: 180px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(59, 206, 83);
  color: white;
  cursor: pointer;
}
